/* favorites */
.favorites {
    margin-top: 20px;
}

.favorites h2 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    /* color: #36211B; */
    color: var(--accent-color3);
    text-align: center;
}

#favorites-list {
    list-style-type: none;
    padding: 0;
}

#favorites-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background: #f9f9f9; */
    margin-top: 5px;

}

#favorites-list li a {
    text-decoration: none;
    color: var(--accent-color3);
}

.add-favorite {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: var(--accent-color2);
    border: 1px solid var(--accent-color2);
    border-radius: 20px;
    padding: 2px;

}