/* whole body style */
body {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color, #E8E6E3);
}

/* verse styles */
.container {
    text-align: left;
    width: 700px;
    max-height: 80vh; 
    overflow-y: auto;
    padding-bottom: 100px;
}

.box {
    padding: 30px;
    border: 1px solid var(--accent-color2);
    border-radius: 10px;
}

/* for the time  */
.time {
    font-family: 'Public Sans', sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bolder;
    color: var(--accent-color2);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-size: 30px;
    /* color: #36211B; */
    color: var(--accent-color3);
    text-align: center;
    margin-top: 0;
}

.verse {
    font-size: 20px;
    margin-top: 20px;
    color: var(--accent-color3);
}

/* footer styles */
footer {
    font-family: 'Public Sans', sans-serif;
    width: 100%;
    height: 30px;
    background-color: var(--accent-color1);
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    font-size: 14px;
    color: white;
}

.right {
    position: absolute;
    padding-right: 30px;
    right: 15px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer:hover a {
    text-decoration: underline;
}

/* info button styles */
.info-icon {
    margin-left: 3px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 112px;
    background-color: white;
    color: #36211B;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    text-align: center;
    z-index: 1;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* settings  */
.settings-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 25px;
    cursor: pointer;
    color: var(--accent-color3);
    padding: 10px;
}

.settings-dialog {
    display: none;
    position: fixed;
    top: 50px;
    left: 15px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 2;
}

.settings-dialog h2 {
    margin-top: 0;
}

.settings-dialog label {
    display: block;
    margin-top: 10px;
}

.settings-dialog select {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.settings-dialog button {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}

#settings-dialog button {
    margin-right: 10px;
}

/* popup menus */
.dialog {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 2;
}

.dialog h2 {
    margin-top: 0;
}

.dialog label {
    display: block;
    margin-top: 10px;
}

.dialog input, .dialog select {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.dialog button {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}

.dialog button {
    margin-right: 10px;
}

/* favorites section */
.favorites-section {
    margin-top: 15px;
    text-align: center;
    color: var(--accent-color3);
}

.favorites-section h2 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    /* color: #36211B; */
    display: flex;
    justify-content: left;
    padding-left: 5px;
    margin: .5rem;
}

.favorites {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 5px;
}

.favorite {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--accent-color3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid var(--accent-color2);
    font-size: 20px;
}

.add-favorite {
    border: 2px solid var(--accent-color2);
    color: var(--accent-color2);
}

/* favorites circles */
.add-favorite {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.favorite-name {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: var(--accent-color3);
}

/* favorites pop up */
.add-favorite-dialog {
    font-family: 'Fraunces', serif;
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 2;
    border-radius: 10px;
    border: 2px solid var(--accent-color2);
    font-size: 16px;
}

.faveBoxTitle {
    margin: 0;
    margin-bottom: 10px;
}

.remove-favorite {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    background-color: var(--accent-color3);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    font-size: 12px;
}

.favorite:hover .remove-favorite {
    display: flex;
}

/* themes and colors  */
:root {
    --bg-color: #E8E6E3;
    /* footer */
    --accent-color1: #7991B1; 
    /* clock and box */
    --accent-color2: #7991B1;
    /* text color */
    --accent-color3: #36211B;
}

body.cleanBlue {
    --bg-color: #E8E6E3;
    /* footer */
    --accent-color1: #7991B1; 
    /* clock and box */
    --accent-color2: #7991B1;
    /* text color */
    --accent-color3: #36211B;
}

body.green {
    --bg-color: #F2F2F2;
    /* footer */
    --accent-color1: #6C733D;
    /* clock and box */
    --accent-color2: #9DA65D;
    /* text color */
    --accent-color3: #202426;
}

body.bumbledBee {
    --bg-color: #F2F2F2;
    /* footer */
    --accent-color1: #F2CD88;
    /* clock and box */
    --accent-color2: #F2BA52;
    /* text color */
    --accent-color3: #404040;
}

body.fastCar {
    --bg-color: #F2F2F2;
    /* footer */
    --accent-color1: #A60303; 
    /* clock and box */
    --accent-color2: #F20505;
    /* text color */
    --accent-color3: #0D0D0D;
}

body.darkButBlue {
    --bg-color: #010d23;
    /* footer */
    --accent-color1: #03223f; 
    /* clock and box */
    --accent-color2: #038bbb;
    /* text color */
    --accent-color3: #038bbb;
}

body.darkGreen {
    --bg-color: #072B1A;
    /* footer */
    --accent-color1: #0A2418; 
    /* clock and box */
    --accent-color2: #F2E2D7;
    /* text color */
    --accent-color3: #F2E2D7;
}